/* etch.css - CSS file for 'Etch-a-Sketch' project */

/* element for the overall container */
#grid{
     width: 960px;
}

/* cel class for the squares that make up the grid */
.cel{
     background-color: blue;
     border-radius: 5px;
     margin: 2px;
     float: left;
}

/* Class to change background to green on mouseenter using addClass() */
.visited{
     background-color: green;
}